*{
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system;
    background-color: hsl(0, 0%, 10%);
}


.app-container{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 350px;
    min-height: 200px;
    height: fit-content;
    background-color: hsl(271, 76%, 50%);
}

.header-container{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 5px;
    color: rgb(255, 255, 255);
    text-decoration: black;
}

.input-container{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: hsl(271, 76%, 40%);
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
}

.input-container > input, button{
    font-size: 1rem;
    margin: 2px;
    padding: 0px 3px;
}

.input-container > button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    font-weight: 600;
}

.todos-container{
    background-color: hsl(271, 76%, 30%);
    padding: 20px;
    margin-top: -10px;
    border-radius: 15px 15px 13px 13px;
    height: fit-content;
    min-height: 100px;
}

ol{
    padding: 0px;
}

.info-msg{
    text-align: center;
    color: white;
}

li{
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

li>button{
    padding: 2px 3px;
    margin: 3px;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 600;
}

.text{
    color: white;
    flex: 1;
}

.delete-button{
    background-color: hsl(0, 100%, 50%);
}

.moveUp-button{
    background-color: hsl(240, 88%, 60%);
}

.moveDown-button{
    background-color: hsl(240, 88%, 60%);
}

.delete-button:hover{
    background-color: hsl(0, 100%, 40%);
}

.moveUp-button:hover{
    background-color: hsl(240, 88%, 40%);
}

.moveDown-button:hover{
    background-color: hsl(240, 88%, 40%);
}
